header {
    width: 100%;
    height: 10%;
    background-color: #f1f139;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    margin: 0 5px;
    font-size: 12px;
}

.main{
    width: 100%;
    min-height: 80%;
    background-color: #ffffb3;
}

.main h1{
    text-align: center;
}


.main form{
    padding-top: 30px;
    margin: 0 auto;
    width: 600px;
}

form input, select{
    width: 400px;
    height: 30px;
    margin: 20px 0;
}

input:focus::placeholder {
    color: transparent;
}

input[type=submit] {
    cursor: pointer;
}

footer{
    width: 100%;
    height: 10%;
    background-color: #fafa9a;
}

.products_list {
    border-collapse: collapse;
}

.products_list tr, td, th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

#product_id{
    width: 18px;
    text-align: center;
    background-color: white;
}

#quantity_id{
    width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
