header {
    width: 100%;
    height: 10%;
    background-color: #f1f139;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    margin: 0 5px;
    font-size: 12px;
}

.main{
    width: 100%;
    height: 80%;
    background-color: #ffffb3;
}

.main h1{
    text-align: center;
}


.main form{
    padding-top: 30px;
    margin: 0 auto;
    width: 600px;
}

form input, select{
    width: 400px;
    height: 30px;
    margin: 20px 0;
}

input:focus::placeholder {
    color: transparent;
}

input[type=submit] {
    cursor: pointer;
}

footer{
    width: 100%;
    height: 10%;
    background-color: #fafa9a;
}

/*.reservations_list {*/
/*    border-collapse: collapse;*/
/*}*/

/*.reservations_list tr, td, th{*/
/*    border: 1px solid black;*/
/*}*/